.container {
    padding: 25px;
    display: center;
    gap: 0;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px solid;
    border-color: green;
}

.text-center {
    text-align: center;
}
